<nav class="navbar navbar-expand navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">Stores</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-0 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home" routerLinkActive="active"
            >Products
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="analytics" routerLinkActive="active"
            >Analytics</a
          >
        </li>
      </ul>

      <button
        routerLink="add-product"
        class="btn btn-outline-info"
        type="submit"
      >
        New Product
      </button>
    </div>
  </div>
</nav>
