<div class="row g-4 mb-2 row-cols-1">
  <div class="col">
    <div class="card product__card">
      <div class="card-body">
        <p class="card-text mt-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
          perferendis nisi magni consectetur vitae. Expedita quos sapiente
          perspiciatis distinctio beatae dolor delectus voluptatum architecto,
          pariatur, quisquam possimus amet officiis molestias. Repellat laborum
          dolore quisquam quas. Quod quibusdam ut voluptatum, consequuntur
          tempore quaerat! Aliquid necessitatibus ducimus dolor at dolorem nulla
          debitis ullam unde magni numquam in et sit, quam rerum odit!
        </p>
      </div>
    </div>
  </div>
</div>
