<div class="container mt-4">
  <app-layout-switch (changeView)="switchView($event)"></app-layout-switch>

  <div
    class="row g-4 mb-2"
    [ngClass]="layout === 'list' ? 'row-cols-1' : 'row-cols-2 row-cols-sm-3'"
    *ngIf="products.length > 0; else noProducts"
  >
    <div class="col" *ngFor="let product of products">
      <div class="card">
        <div class="card-body">
          <span class="badge bg-secondary rounded-pill">{{ product.id }}</span>
          <span class="card-title ms-2 fw-bold">{{ product.data.title }}</span>

          <p class="card-text mt-3">
            {{ product.data.description }}
          </p>
          <button
            *ngIf="product.data.reviews"
            class="btn btn-primary btn-sm"
            [ngClass]="layout === 'list' ? '' : 'mt-2 me-2'"
          >
            Show Review
            <span>{{ product.data.reviews.length }}</span>
          </button>
          <button
            class="btn btn-danger btn-sm"
            [ngClass]="layout === 'list' ? 'ms-2' : 'mt-2'"
            (click)="onDeleteProduct(product.id)"
          >
            Delete Product
          </button>
        </div>
        <div class="card-footer">
          <div class="text-muted fw-bold">
            {{ product.data.category | uppercase }}
            <span class="fw-bold ms-2 fs-4">€ {{ product.data.price }}</span>
          </div>
          <div class="text-muted">
            {{ product.data.employee }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noProducts>
  <p>Non è presente nessun progetto</p>
</ng-template>
